{% extends 'wrapper.html' %}


{% block title %}
EduExpress Consulting
{% endblock title %}
  



{% block content %}
    
<!-- SLider BAnner-->
<section class="banner" >
  <!-- Swiper -->
  <div class="banner-slider swiper-container" style="height: 100%;">
    <div class="swiper-wrapper">
      <div class="banner-slide swiper-slide" style="background-image: url('/static/img/banner-slider/01.png'); height: 100%; ">
        <div class="slide-container">
          <div class="slide-content slide-content--left" data-caption-animate="fadeInUp" style="">
            <h2 class="slide-title" >Professional Consulting For Your Educational Success</h2>
            <p class="slide-text">
              Being a professional in Dducation Consulting for more than four years we use our experience at its fullest for your educational success
            </p>

            <div class="slide-btn-group">
              <a href="about.html" class="btn btn--primary">Our Company</a>
              <a href="contact-us.html" class="btn btn--primary">Contact Us</a>
            </div>

            <div class="slide-content_img slide-content_img--lg">
              <img src="/static/img/girl3.png" alt="" style="transform: scale(1.1); position: relative;right: 40px;">
            </div>
          </div>
        </div>
      </div>

      <div class="banner-slide swiper-slide" style="background-image: url('img/banner-slider/02.png'); ">
        <div class="slide-container">
          <div class="slide-content slide-content--right" data-caption-animate="fadeInUp">
            <h2 class="slide-title" >Get your 100% scholarship In Top Universities .</h2>
            <p class="slide-text">              Our company offers a variety of scholarship programs for students in more than 18 countries.
            </p>

            <div class="slide-btn-group">
              <a href="about.html" class="btn btn--primary">Our Company</a>
              <a href="contact-us.html" class="btn btn--primary">Contact Us</a>
            </div>

            <div class="slide-content_img">
              <img src="/static/img/girl.png" alt="" style="position: relative; bottom: 150px; left: 100px; transform: scale(0.9);">
              <!-- <img src="img/girl.png" alt="" style="position: relative; bottom: 150px; left: 100px;"> -->
            </div>
          </div>
        </div>
      </div>

      <div class="banner-slide swiper-slide" style="background-image: url('img/banner-slider/03.png'); background-size: cover; height: 100%;">
        <div class="slide-container">
          <div class="slide-content slide-content--left" data-caption-animate="fadeInUp">
            <h2 class="slide-title">Start your new life at your Dream University  </h2>
            <p class="slide-text">
              We only offer top universities for our students.
            </p>

            <div class="slide-btn-group">
              <a href="about.html" class="btn btn--primary">Our Company</a>
              <a href="contact-us.html" class="btn btn--primary">Contact Us</a>
            </div>

            <div class="slide-content_img slide-content_img--lg">
              <img src="/static/img/girld4.png" style="transform: scale(1.2); position: relative; right: 80px;" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Arrows -->
    <div class="swiper-button-next"><i class="fi fi-right-arrow"></i></div>
    <div class="swiper-button-prev"><i class="fi fi-left-arrow"></i></div>
  </div>
</section>

<!-- Blue Section -->
<!-- <section class="index-posts">
  <div class="container-fluid container-fluid--custom">
    <div class="row row--custom">
      <div class="col-md-4">
        <article class="post">
          <header class="entry-header">
            <a href="cases-single.html">
              <img src="img/posts/01.jpg" alt="">
            </a>
          </header>

          <div class="entry-content">
            <h3 class="post_title">
              <a href="cases-single.html">Why our consulting</a>
            </h3>
            <p>
              We are a team of qualified professionals with a great experience in marketing and business development strategies.
            </p>
          </div>

          <footer class="entry-footer">
            <a href="cases-single.html" class="btn btn--more"><i class="fi fi-right-arrow"></i>Read more</a>
          </footer>
        </article>
      </div>

      <div class="col-md-4">
        <article class="post">
          <header class="entry-header">
            <a href="cases-single.html">
              <img src="img/posts/02.jpg" alt="">
            </a>
          </header>

          <div class="entry-content">
            <h3 class="post_title">
              <a href="cases-single.html">Variety of services</a>
            </h3>
            <p>
              From management consulting to tax and audit. Our team will cover almost every sphere of your business.
            </p>
          </div>

          <footer class="entry-footer">
            <a href="cases-single.html" class="btn btn--more"><i class="fi fi-right-arrow"></i>Read more</a>
          </footer>
        </article>
      </div>

      <div class="col-md-4">
        <article class="post">
          <header class="entry-header">
            <a href="cases-single.html">
              <img src="img/posts/03.jpg" alt="">
            </a>
          </header>

          <div class="entry-content">
            <h3 class="post_title">
              <a href="cases-single.html">Planning your future</a>
            </h3>
            <p>
              We propose a number of solutions for your issues, calculating the future possibilities of your business.
            </p>
          </div>

          <footer class="entry-footer">
            <a href="cases-single.html" class="btn btn--more"><i class="fi fi-right-arrow"></i>Read more</a>
          </footer>
        </article>
      </div>
    </div>
  </div>
</section> -->






<div class="about section--dark pb-5" id="about" style="padding-top: 40px; padding-bottom: 45px;">
  <div class="container">
    <div class="section-heading" style="text-align: center;">
      <span class="section-heading_secondary">about</span>
      <h2  class="font-white">About Our Company</h2>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-12" style="">
        <div class="img_outer">
        <img  src="/static/img/abo.jpeg" alt="" style="width: 100%; height: 100%; max-width: 100%; border-radius: 20px;">
      </div>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-12 pt-2">
        <h4 class="font-white"> Why EduExpress ?</h4>
        <p class="font-white" style="font-size: 1.75rem; font-weight: bold;"> Edu Express Consulting is the result of many years of work of our employees in the field of education abroad. Our company is one of the most trusted agencies that helps all international students to study in partnership with Top Universities in Uzbekistan and South Korea under agreements with more than 18 countries around the world. All employees of our company are foreign education specialists who have studied abroad and personally visited many educational institutions. We help and care for our students so that they don’t have to deal with all sorts of problems while fully immersed in reading.  </p>
      </div>
    </div>
  </div>
</div>



















    <!-- <script src="src/js/main.js"></script> -->
  



    <!--  -->

























<center>
<!-- University Filter -->
<div class="p-2 university_filter_container" style="margin-top: 50px;"  > 
  <h4> Search By Country </h4>
  <div class="dropdown">
    <div onclick="myFunction()" class="dropbtn " id="dropdown_button" style="padding:8px 0px 8px 20px ;"> <p style="padding: 7px 0px 7px 20px ; font-weight: bold;">Countries  </p> </div>
    <div id="myDropdown" class="dropdown-content">
      <div class="element_outer" onclick="DropdownItem(this.id)" id="-- All --">
         <p style="padding: 6px 0px 6px 0;" id="link1inner" class="country_paragraph" > -- All --</p>
      </div>

      <!-- <div class="element_outer" onclick="DropdownItem(this.id)" id="Malaysia">
        <img class="country_flag" src="/static/img/mal.png" alt="" style=""> <p id="link1inner" class="country_paragraph" > Malaysia</p>
      </div>
      <div class="element_outer" onclick="DropdownItem(this.id)" id="United States">
        <img class="country_flag" src="/static/img/usa.png" alt="" style=""> <p id="link1inner" class="country_paragraph"> United States</p>
      </div>
      <div class="element_outer" onclick="DropdownItem(this.id)" id="Australia">
        <img class="country_flag" src="/static/img/aus.png" alt="" style=""> <p id="link1inner" class="country_paragraph"> Australia</p>
      </div>
      <div class="element_outer" onclick="DropdownItem(this.id)" id="Germany">
        <img class="country_flag" src="/static/img/germany.png" alt="" style=""> <p id="link1inner" class="country_paragraph"> Germany</p> 
      </div>
      <div class="element_outer" onclick="DropdownItem(this.id)" id="England">
        <img class="country_flag" src="/static/img/uk.png" alt="" style=""> <p id="link1inner" class="country_paragraph"> England</p>
      </div>
      <div class="element_outer" onclick="DropdownItem(this.id)" id="Poland">
        <img class="country_flag" src="/static/img/pol.png" alt="" style=""> <p id="link1inner" class="country_paragraph"> Poland</p>
      </div>
          <div class="element_outer" onclick="DropdownItem(this.id)" id="Korea">
        <img class="country_flag" src="/static/img/kor.png" alt="" style=""> <p id="link1inner" class="country_paragraph"> Korea</p>
      </div>
    -->
      
      {% for country in countries %}
      <div class="element_outer" onclick="DropdownItem(this.id, this.nonce)" nonce = "{{country.id}}" id="{{country.name}}">
        <img class="country_flag" src="{{country.image.url}}" alt="" style=""> <p id="link1inner" class="country_paragraph"> {{country.name}}</p>
      </div>        
      {% endfor %}


    </div>
  </div> 
</div>
</center>
<!-- University Filter -->







<!-- UNIVERSITIES SECTION -->
<section class="section-service" style="padding-top: 60px; z-index: 99;">
  <div class="container-fluid container-fluid--custom">
<div class="row">
      <div class="">
        <div class="section-heading" style="text-align: center;">
          <span class="section-heading_secondary">Our Partners</span>
          <h2>The Most Popular Universities</h2>
        </div>
      </div>
    </div>


    <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
    <div class="row row--flex row--flex-wrap" id="university_container" style="display: flex;justify-content: center;">

      <!-- <div class="col-sm-12 col-md-4 col-lg-4 university" style="position: relative;" >
        <a href="" >
          <div class="university__inner" style=" box-shadow: inset 0 -80px 80px -3px #0e304b;border-radius: 15px;">
            <div class="img__outer" style="overflow: hidden;">
            <img src="https://i.pinimg.com/originals/3a/a8/4b/3aa84b0be71734263afea22dca2b3cd9.jpg" alt="airplane" style=" position: relative;z-index: -4;border-radius: 15px; object-fit: cover; width: 100%; height: 100%;">
          </div>
          <h4 class="font-white" style="position: absolute; bottom: 34px; left: 30px;"> INHA University More Description</h4>
              <div class="bottom__locations" style="position: absolute; bottom: 13px; display: flex; justify-content: left; left: 28px; ">
                <svg width="19" height="19" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g opacity="0.5">
                  <path d="M10 11.6667C11.3807 11.6667 12.5 10.5475 12.5 9.16675C12.5 7.78604 11.3807 6.66675 10 6.66675C8.61929 6.66675 7.5 7.78604 7.5 9.16675C7.5 10.5475 8.61929 11.6667 10 11.6667Z" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M14.7142 13.8808L11.1783 17.4167C10.8658 17.7289 10.4422 17.9042 10.0004 17.9042C9.55869 17.9042 9.13503 17.7289 8.82251 17.4167L5.28585 13.8808C4.35353 12.9485 3.71863 11.7606 3.46142 10.4674C3.20421 9.17419 3.33625 7.83376 3.84085 6.61561C4.34544 5.39745 5.19993 4.35628 6.29625 3.62376C7.39257 2.89123 8.68149 2.50024 10 2.50024C11.3185 2.50024 12.6075 2.89123 13.7038 3.62376C14.8001 4.35628 15.6546 5.39745 16.1592 6.61561C16.6638 7.83376 16.7958 9.17419 16.5386 10.4674C16.2814 11.7606 15.6465 12.9485 14.7142 13.8808V13.8808Z" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                  </g>
                  </svg> 
                  <span style=" color: whitesmoke; font-weight: 700; opacity: 0.8; "> Korean </span>
              </div>
          </div>  
      </a>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 university" style="position: relative;" >
        <a href="" >
          <div class="university__inner" style=" box-shadow: inset 0 -80px 80px -3px #0e304b;border-radius: 15px;">
            <div class="img__outer" style="overflow: hidden;">
            <img src="https://i.pinimg.com/originals/3a/a8/4b/3aa84b0be71734263afea22dca2b3cd9.jpg" alt="airplane" style=" position: relative;z-index: -4;border-radius: 15px; object-fit: cover; width: 100%; height: 100%;">
          </div>
          <h4 class="font-white" style=" position: absolute; bottom: 34px; left: 30px;"> INHA University More Description</h4>
              <div class="bottom__locations" style="position: absolute; bottom: 13px; display: flex; justify-content: left; left: 28px; ">
                <svg width="19" height="19" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g opacity="0.5">
                  <path d="M10 11.6667C11.3807 11.6667 12.5 10.5475 12.5 9.16675C12.5 7.78604 11.3807 6.66675 10 6.66675C8.61929 6.66675 7.5 7.78604 7.5 9.16675C7.5 10.5475 8.61929 11.6667 10 11.6667Z" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M14.7142 13.8808L11.1783 17.4167C10.8658 17.7289 10.4422 17.9042 10.0004 17.9042C9.55869 17.9042 9.13503 17.7289 8.82251 17.4167L5.28585 13.8808C4.35353 12.9485 3.71863 11.7606 3.46142 10.4674C3.20421 9.17419 3.33625 7.83376 3.84085 6.61561C4.34544 5.39745 5.19993 4.35628 6.29625 3.62376C7.39257 2.89123 8.68149 2.50024 10 2.50024C11.3185 2.50024 12.6075 2.89123 13.7038 3.62376C14.8001 4.35628 15.6546 5.39745 16.1592 6.61561C16.6638 7.83376 16.7958 9.17419 16.5386 10.4674C16.2814 11.7606 15.6465 12.9485 14.7142 13.8808V13.8808Z" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                  </g>
                  </svg> 
                  <span style=" color: whitesmoke; font-weight: 700; opacity: 0.8; "> Korean </span>
              </div>
          </div>  
      </a>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 university" style="position: relative;" >
        <a href="" >
          <div class="university__inner" style=" box-shadow: inset 0 -80px 80px -3px #0e304b;border-radius: 15px;">
            <div class="img__outer" style="overflow: hidden;">
            <img src="https://i.pinimg.com/originals/3a/a8/4b/3aa84b0be71734263afea22dca2b3cd9.jpg" alt="airplane" style=" position: relative;z-index: -4;border-radius: 15px; object-fit: cover; width: 100%; height: 100%;">
          </div>
          <h4 style=" color: white;  position: absolute; bottom: 34px; left: 30px;"> INHA University More Description</h4>
              <div class="bottom__locations" style="position: absolute; bottom: 13px; display: flex; justify-content: left; left: 28px; ">
                <svg width="19" height="19" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g opacity="0.5">
                  <path d="M10 11.6667C11.3807 11.6667 12.5 10.5475 12.5 9.16675C12.5 7.78604 11.3807 6.66675 10 6.66675C8.61929 6.66675 7.5 7.78604 7.5 9.16675C7.5 10.5475 8.61929 11.6667 10 11.6667Z" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M14.7142 13.8808L11.1783 17.4167C10.8658 17.7289 10.4422 17.9042 10.0004 17.9042C9.55869 17.9042 9.13503 17.7289 8.82251 17.4167L5.28585 13.8808C4.35353 12.9485 3.71863 11.7606 3.46142 10.4674C3.20421 9.17419 3.33625 7.83376 3.84085 6.61561C4.34544 5.39745 5.19993 4.35628 6.29625 3.62376C7.39257 2.89123 8.68149 2.50024 10 2.50024C11.3185 2.50024 12.6075 2.89123 13.7038 3.62376C14.8001 4.35628 15.6546 5.39745 16.1592 6.61561C16.6638 7.83376 16.7958 9.17419 16.5386 10.4674C16.2814 11.7606 15.6465 12.9485 14.7142 13.8808V13.8808Z" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                  </g>
                  </svg> 
                  <span style=" color: whitesmoke; font-weight: 700; opacity: 0.8; "> Korean </span>
              </div>
          </div>  
      </a>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 university" style="position: relative;" >
        <a href="" >
          <div class="university__inner" style=" box-shadow: inset 0 -80px 80px -3px #0e304b;border-radius: 15px;">
            <div class="img__outer" style="overflow: hidden;">
            <img src="https://i.pinimg.com/originals/3a/a8/4b/3aa84b0be71734263afea22dca2b3cd9.jpg" alt="airplane" style=" position: relative;z-index: -4;border-radius: 15px; object-fit: cover; width: 100%; height: 100%;">
          </div>
          <h4 style=" color: white;  position: absolute; bottom: 34px; left: 30px;"> INHA University More Description</h4>
              <div class="bottom__locations" style="position: absolute; bottom: 13px; display: flex; justify-content: left; left: 28px; ">
                <svg width="19" height="19" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g opacity="0.5">
                  <path d="M10 11.6667C11.3807 11.6667 12.5 10.5475 12.5 9.16675C12.5 7.78604 11.3807 6.66675 10 6.66675C8.61929 6.66675 7.5 7.78604 7.5 9.16675C7.5 10.5475 8.61929 11.6667 10 11.6667Z" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M14.7142 13.8808L11.1783 17.4167C10.8658 17.7289 10.4422 17.9042 10.0004 17.9042C9.55869 17.9042 9.13503 17.7289 8.82251 17.4167L5.28585 13.8808C4.35353 12.9485 3.71863 11.7606 3.46142 10.4674C3.20421 9.17419 3.33625 7.83376 3.84085 6.61561C4.34544 5.39745 5.19993 4.35628 6.29625 3.62376C7.39257 2.89123 8.68149 2.50024 10 2.50024C11.3185 2.50024 12.6075 2.89123 13.7038 3.62376C14.8001 4.35628 15.6546 5.39745 16.1592 6.61561C16.6638 7.83376 16.7958 9.17419 16.5386 10.4674C16.2814 11.7606 15.6465 12.9485 14.7142 13.8808V13.8808Z" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                  </g>
                  </svg> 
                  <span style=" color: whitesmoke; font-weight: 700; opacity: 0.8; "> Korean </span>
              </div>
          </div>  
      </a>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 university" style="position: relative;" >
        <a href="" >
          <div class="university__inner" style=" box-shadow: inset 0 -80px 80px -3px #0e304b;border-radius: 15px;">
            <div class="img__outer" style="overflow: hidden;">
            <img src="https://i.pinimg.com/originals/3a/a8/4b/3aa84b0be71734263afea22dca2b3cd9.jpg" alt="airplane" style=" position: relative;z-index: -4;border-radius: 15px; object-fit: cover; width: 100%; height: 100%;">
          </div>
          <h4 style=" color: white;  position: absolute; bottom: 34px; left: 30px;"> INHA University More Description</h4>
              <div class="bottom__locations" style="position: absolute; bottom: 13px; display: flex; justify-content: left; left: 28px; ">
                <svg width="19" height="19" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g opacity="0.5">
                  <path d="M10 11.6667C11.3807 11.6667 12.5 10.5475 12.5 9.16675C12.5 7.78604 11.3807 6.66675 10 6.66675C8.61929 6.66675 7.5 7.78604 7.5 9.16675C7.5 10.5475 8.61929 11.6667 10 11.6667Z" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M14.7142 13.8808L11.1783 17.4167C10.8658 17.7289 10.4422 17.9042 10.0004 17.9042C9.55869 17.9042 9.13503 17.7289 8.82251 17.4167L5.28585 13.8808C4.35353 12.9485 3.71863 11.7606 3.46142 10.4674C3.20421 9.17419 3.33625 7.83376 3.84085 6.61561C4.34544 5.39745 5.19993 4.35628 6.29625 3.62376C7.39257 2.89123 8.68149 2.50024 10 2.50024C11.3185 2.50024 12.6075 2.89123 13.7038 3.62376C14.8001 4.35628 15.6546 5.39745 16.1592 6.61561C16.6638 7.83376 16.7958 9.17419 16.5386 10.4674C16.2814 11.7606 15.6465 12.9485 14.7142 13.8808V13.8808Z" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                  </g>
                  </svg> 
                  <span style=" color: whitesmoke; font-weight: 700; opacity: 0.8; "> Korean </span>
              </div>
          </div>  
      </a>
      </div> -->


      {% for university in universities %}        
      <div class="col-sm-12 col-md-4 col-lg-4 university" style="position: relative; display: none;" >
        <a href="" >
          <div class="university__inner" style=" box-shadow: inset 0 -100px 85px -3px #0e304b;border-radius: 15px;">
            <div class="img__outer" >
            <img src="{{university.image.url}}" alt="airplane" style=" position: relative;z-index: -4;border-radius: 15px; object-fit: cover; width: 100%; height: 100%;">
          </div>
          <h4 style=" color: white;  position: absolute; bottom: 34px; left: 30px;"> {{university.name}}</h4>
              <div class="bottom__locations" style="position: absolute; bottom: 13px; display: flex; justify-content: left; left: 28px; ">
                <!-- <i class="fal fa-map-marker-alt"></i> -->
                <svg width="19" height="19" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g opacity="0.5">
                  <path d="M10 11.6667C11.3807 11.6667 12.5 10.5475 12.5 9.16675C12.5 7.78604 11.3807 6.66675 10 6.66675C8.61929 6.66675 7.5 7.78604 7.5 9.16675C7.5 10.5475 8.61929 11.6667 10 11.6667Z" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M14.7142 13.8808L11.1783 17.4167C10.8658 17.7289 10.4422 17.9042 10.0004 17.9042C9.55869 17.9042 9.13503 17.7289 8.82251 17.4167L5.28585 13.8808C4.35353 12.9485 3.71863 11.7606 3.46142 10.4674C3.20421 9.17419 3.33625 7.83376 3.84085 6.61561C4.34544 5.39745 5.19993 4.35628 6.29625 3.62376C7.39257 2.89123 8.68149 2.50024 10 2.50024C11.3185 2.50024 12.6075 2.89123 13.7038 3.62376C14.8001 4.35628 15.6546 5.39745 16.1592 6.61561C16.6638 7.83376 16.7958 9.17419 16.5386 10.4674C16.2814 11.7606 15.6465 12.9485 14.7142 13.8808V13.8808Z" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                  </g>
                  </svg> 
                  <span style=" color: whitesmoke; font-weight: 700; opacity: 0.8; "> {{ university.country.name }} </span>
              </div>
          </div>  
      </a>
      </div>
      {% endfor %}
        



    </div>

    <center> <button class="button__view_all" id="button__view_all" style="" onclick="LoadMore()"> View All </button> <button class="button__view_all trigger" style=""> Apply To University </button></center>


  </div>
</section>
<!-- UNIVERSITIES SECTION -->




















<!-- NEWS SECTION -->
<section class="section section--dark" style="">
  <div class="container-fluid container-fluid--custom">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading" style="text-align: center;">
          <span class="section-heading_secondary">Our Last</span>
          <h2 class="section-heading_main">News</h2>
        </div>
      </div>
    </div>

    <div class="row row--flex row--flex-wrap row--nopadding">
      <div class="col-xs-12 col-sm-6 col-lg-3">
        <article class="post post--news">
          <header class="entry-header">
            <a href="cases-single.html" class="entry-header_cover">
              <img src="/static/img/news/01.jpg" alt="">
            </a>
          </header>

          <div class="entry-content">
            <h3 class="post_title">
              <a href="cases-single.html">Present your ideas to the Audit Committee the right way</a>
            </h3>
          </div>

          <footer class="entry-footer">
            <span class="date"><i class="fi fi-calendar"></i>November 22, 2017</span>
          </footer>
        </article>
      </div>

      <div class="col-xs-12 col-sm-6 col-lg-3">
        <article class="post post--news">
          <header class="entry-header">
            <a href="cases-single.html" class="entry-header_cover">
              <img src="/static/img/news/04.jpg" alt="">
            </a>
          </header>

          <div class="entry-content">
            <h3 class="post_title">
              <a href="cases-single.html">Biggest concerns when choosing a vendor</a>
            </h3>
          </div>

          <footer class="entry-footer">
            <span class="date"><i class="fi fi-calendar"></i>November 22, 2017</span>
          </footer>
        </article>
      </div>

      <div class="col-xs-12 col-sm-6 col-lg-3">
        <article class="post post--news">
          <header class="entry-header">
            <a href="cases-single.html" class="entry-header_cover">
              <img src="/static/img/news/03.jpg" alt="">
            </a>
          </header>

          <div class="entry-content">
            <h3 class="post_title">
              <a href="cases-single.html">Data Analytics: basic information</a>
            </h3>
          </div>

          <footer class="entry-footer">
            <span class="date"><i class="fi fi-calendar"></i>November 22, 2017</span>
          </footer>
        </article>
      </div>

      <div class="col-xs-12 col-sm-6 col-lg-3">
        <article class="post post--news">
          <header class="entry-header">
            <a href="cases-single.html" class="entry-header_cover">
              <img src="/static/img/news/04.jpg" alt="">
            </a>
          </header>

          <div class="entry-content">
            <h3 class="post_title">
              <a href="cases-single.html">Charity affairs and their benefits</a>
            </h3>
          </div>

          <footer class="entry-footer">
            <span class="date"><i class="fi fi-calendar"></i>November 22, 2017</span>
          </footer>
        </article>
      </div>
    </div>
  </div>
</section>
<!-- NEWS SECTION -->






















<div class="modal-former" style="z-index: 9; ">
    <div class="modal-content">
        <button class="close-buttona" style="background-color: #fff; padding: 10px; "> <i class="fas fa-times "></i> </button>
          <form action="#" id="contact-form" class="form">
            <div class="row">
              <h4 style="width: 100%; text-align: center;" > Applying for University </h4>
              <div class="col-md-6">
                <label for="name"> Your name </label>
                <input type="text" class="form-control" name="name">
              </div>

              <div class="col-md-6">
                <label for="name"> Your Phone number </label>
                <input type="text" class="form-control" name="phone" placeholder="Phone Number" value="+998" >
              </div>

              <div class="col-md-6" style="display: flex; justify-content: center;  display: block;">
                <label for=""> IELTS, TOPIC, TOEFL til sertifikatlari bormi? </label>
                <div style="display: flex; justify-content: left;">
                <p>
                  <input type="radio" id="test2" name="radio-group">
                  <label for="test2">Yes</label>
                </p>
                <p style="margin-left: 30px;">
                  <input type="radio" id="test3" name="radio-group">
                  <label for="test3">No</label>
                </p> 
              </div>
              </div>

              <div class="col-md-12">
                <textarea rows="8" class="form-control" name="message" placeholder="Your Message" ></textarea>
              </div>
              <div class="col-md-12 text-right text-center">
                <center> <button class="button__view_all" style=""> Send </button> </center>
                <div id="progress" style="position: absolute; bottom: 0; display: none; ">msg</div>
              </div>

            </div>
          </form> 
          <!-- <form action="#">

          </form> -->
        </div>
</div>































<!-- CONTACT -->
<section class="" style="padding-top: 30px;padding-bottom: 60px;">
  <div class="container-fluid container-fluid--custom">
    <div class="row ">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <span class="section-heading_secondary">comment</span>
            <h2>Feedback form</h2>

          </div>
        </div>
      </div>
      <div class="col-md-6">
          <form action="#" id="contact-form" class="form">
            <div class="row">
              <div class="col-md-6">
                <input type="text" class="form-control" name="first-name" placeholder="First Name">
              </div>

              <div class="col-md-6">
                <input type="email" class="form-control" name="email" placeholder="Email" >
              </div>

              <div class="col-md-6">
                <input type="text" class="form-control" name="phone" placeholder="Phone">
              </div>

              <div class="col-md-12">
                <textarea rows="8" class="form-control" name="message" placeholder="Your Message" ></textarea>
              </div>
              <div class="col-md-12 text-right text-center">
                <center> <button class="button__view_all" style=""> Send </button> </center>
                <div id="progress" style="position: absolute; bottom: 0; display: none; ">msg</div>
              </div>

            </div>
          </form>
          </div>
      <div class="col-md-6">
        <section >
          <!-- <h4> Our social media </h4> -->
          <div class="social-media col-md-6 col-sm-6 ">
              <div class="outer_container" style="border: 2px solid red;">
                <div class="social_icon_outer" style="background-color: red; padding: 12px 12px 12px 12px ;">
                  <i class="fab fa-youtube fa-2x" style="color: #fff;"></i>
                </div>
                <div class="social__text" style="color: red;">EduExpress_Consulting</div>
              </div>
            </div>

            <div class="social-media col-md-6 col-sm-6 ">
              <div class="outer_container" style="border: 2px solid #fd0054;">
                <div class="social_icon_outer font-white" style="background-color:#fd0054;  padding: 12px 15px 12px 15px; ">
                  <i class="fab fa-instagram fa-2x" ></i>
                </div>
                <div class="social__text" style="color:#fd0054;">EduExpress_Consulting</div>
              </div>
            </div>

            <div class="social-media col-md-6 col-sm-6">
              <div class="outer_container" style="border: 2px solid black;">
                <div class="social_icon_outer" style="background-color: black;padding: 12px 16px 12px 15px; "> 
                  <i class="fab fa-tiktok fa-2x font-white"></i>
                </div>
                <div class="social__text" style="color: black;">EduExpress_Consulting</div>
              </div>
            </div>

            <div class="social-media col-md-6 col-sm-6 ">
              <div class="outer_container" style="border: 2px solid #229ED9;">
                <div class="social_icon_outer" style="background-color: #229ED9; padding: 12px 16px 12px 15px;">
                  <i class="fab fa-telegram-plane fa-2x font-white" ></i>
                </div>
                <div class="social__text" style="color: #229ED9;">EduExpress_Consulting</div>
              </div>
            </div>
            
            <!-- <h4> Location and Phone Numbers</h4> -->
            <div class="phone_location" style=" position: relative; transform: translateY(35px);">
            <div class="social-media col-md-6 col-sm-6 mt-5 " style="margin: 0px 0 0 0 ;">
              <a href="tel:+998991087451" class="outer_container" style="border: 2px solid #0c2c47;">
                <div class="social_icon_outer" style="background-color: #0c2c47; padding: 13px 15px 13px 15px;">
                  <i class="fas fa-phone fa-2x font-white"></i>
                </div>
                <div class="social__text" style="color: #0c2c47; display: flex; align-items: center;"> <img src="/static/img/uzb.png" class="country_flag" alt=""> +998 99 108 7451 </div>
              </a>
            </div>

            <div class="social-media col-md-6 col-sm-6 mt-5 " style="margin: 0px 0 0 0 ;">
              <a href="tel:+821067853883" class="outer_container" style="border: 2px solid #0c2c47;">
                <div class="social_icon_outer" style="background-color: #0c2c47; padding: 12px 15px 12px 15px;">
                  <i class="fas fa-phone fa-2x font-white" ></i>
                </div>
                <div class="social__text" style="color: #0c2c47; display: flex; align-items: center;"> <img src="/static/img/kor.png" class="country_flag" alt=""> +82 10 6785 3883 </div>
              </a>
            </div>


            <div class="social-media col-md-12 col-sm-12 " style="margin: 0px 0 0 0 ;">
              <div class="outer_container" style="border: 2px solid #0c2c47;">
                <div class="social_icon_outer" style="background-color: #0c2c47; padding: 13px 18px 13px 18px;">
                  <i class="fas fa-map-marker-alt fa-2x font-white" ></i>
                </div>
                <div class="social__text" style="color: #0c2c47; display: flex; align-items: center;"> Uzbekistan, Tashkent, Sergeli, 412 Dom </div>
              </div>
            </div>

            <div class="social-media col-md-6 col-sm-12 " style="margin: 0px 0 0 0 ;">
              <div class="outer_container" style="border: 2px solid #0c2c47;">
                <div class="social_icon_outer" style="background-color: #0c2c47; padding: 13px 15px 13px 15px;">
                  <i class="fas fa-envelope fa-2x font-white"></i>
                </div>
                <div class="social__text" style="color: #0c2c47; display: flex; align-items: center;"> Info@eduexpress.uz </div>
              </div>
            </div>
          </div>

        </section>
      </div>
    </div>
  </div>
</section>
<!-- CONTACT -->

<a href="#" class="back-to-top" title="Back to top"></a>
</div><!-- end #wrap -->























































<script>
  console.log("Hello, World !!!")
  let universities = document.getElementsByClassName('university')
  console.log(universities)
  
  for(let x=0; x < 6; x++){
      universities[x].style.display = 'block'
      console.log('done', x)
  }
  
  
  function LoadMore(){
      let universities = document.getElementsByClassName("university")
      let limit = 3
      for(i of universities){
          if(limit === 0){
              break
          }
          if(i.style.display === 'block'){ console.log("passs") }else{
              console.log("Hello")
              i.style.display = 'block'
              limit -= 1
          }
      }
  }
  
  
  
  
  
  function LoadLess(){
  
  }
  
  
  
  function CountryFilter(id){
      if (window.XMLHttpRequest){
      var xhttp=new XMLHttpRequest();
    } else { 
              var xhttp=new ActiveXObject("Microsoft.XMLHTTP");
          }
          xhttp.onreadystatechange = function(){
          if (xhttp.readyState === 4 && xhttp.status === 200) {
              let data = JSON.parse(this.responseText)
              let div = ''
              for(university of data['universities']){
                  console.log(university.name)
          div += '<div class="university" style="display: none;">\
                      <a href=" ' + university.slug + '">' + university.name + ' </a>\
                      <img src="/media/'    + university.image +     '" width="150" height="150" alt="  University Image">\
                          </div>\
                  '
              }
        document.getElementById("university_container").innerHTML = div
              // document.getElementById('showless').style.display = 'none'  
              // document.getElementById('showmore').style.display = 'inline-block'  
              for(let x=0; x < 2; x++){
                  universities[x].style.display = 'block'
                  console.log('done', x)
              }
          }else{
            console.log('not yet')
            }
        }
  
      var url = "/country_filter/"
    xhttp.open("GET", url+`?data=${`${id}`}`, true);
      xhttp.send();
  }
  


















  // Dropdown
  function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
function DropdownItem(id, country_id){
  console.log(id)
  document.getElementById('dropdown_button').innerHTML = document.getElementById(`${id}`).innerHTML
  console.log(country_id, id)
  // <div class="element_outer" onclick="DropdownItem(this.id)" id="Korea">
    // {/* <img class="country_flag" src="img/kor.png" alt="" style=""> <p id="link1inner" class="country_paragraph"> Korea</p> */}
    // {/* </div> */}
    CountryFilter( country_id)
}

  </script>
  











{% endblock content %}









